In [1]:
import pandas as pd
nba = pd.read_csv("nba_all_elo.csv")
type(nba)

pandas.core.frame.DataFrame

In [2]:
print(len(nba)) # number of rows
print(nba.shape) # dimension sizes
nba.head()

126314
(126314, 23)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [3]:
# display options
pd.set_option("display.max.columns", None)
pd.set_option("display.precision", 2)
nba.tail()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.41,1704.39,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.98,1813.63,68.01,CLE,Cavaliers,91,1704.39,1700.74,H,W,0.77,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.39,1700.74,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.74,1692.09,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.63,1822.29,68.52,CLE,Cavaliers,97,1700.74,1692.09,A,W,0.52,NaN

In [4]:
# initial glimpse (type-checking, memory usage, count, null values) 
# (Try to not leave things out as Dtype being object)
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [5]:
# initial glimpse (numeric summary)
nba.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.00,126314.0,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00
mean,31579.00,0.5,1988.20,43.53,0.06,102.73,1495.24,1495.24,41.71,102.73,1495.24,1495.24,0.50
std,18231.93,0.5,17.58,25.38,0.24,14.81,112.14,112.46,10.63,14.81,112.14,112.46,0.22
min,1.00,0.0,1947.00,1.00,0.00,0.00,1091.64,1085.77,10.15,0.00,1091.64,1085.77,0.02
25%,15790.00,0.0,1975.00,22.00,0.00,93.00,1417.24,1416.99,34.10,93.00,1417.24,1416.99,0.33
50%,31579.00,0.5,1990.00,43.00,0.00,103.00,1500.95,1500.95,42.11,103.00,1500.95,1500.95,0.50
75%,47368.00,1.0,2003.00,65.00,0.00,112.00,1576.06,1576.29,49.64,112.00,1576.06,1576.29,0.67
max,63157.00,1.0,2015.00,108.00,1.00,186.00,1853.10,1853.10,71.11,186.00,1853.10,1853.10,0.98

In [6]:
# initial glimpse (non-numeric summary)
nba.describe(include="object")

,game_id,lg_id,date_game,team_id,fran_id,opp_id,opp_fran,game_location,game_result,notes
count,126314,126314,126314,126314,126314,126314,126314,126314,126314,5424
unique,63157,2,12426,104,53,104,53,3,2,231
top,194611010TRH,NBA,4/13/2011,BOS,Lakers,BOS,Lakers,H,L,at New York NY
freq,2,118016,30,5997,6024,5997,6024,63138,63157,440

In [7]:
# value counts

# Number of games each team played
nba["team_id"].value_counts()

# Dates which BOS (team with most games played) played
print("Oldest, Latest Date which Boston played a game:\n", "-" * 48 + "\n",
      nba.loc[nba["team_id"] == "BOS", "date_game"].agg(("min", "max")), sep="")
# Teams Boston has played against
print("\n# of times Boston has played against each of their opponent teams\n", "-" * 65 + "\n",
      nba.loc[nba["team_id"] == "BOS", "opp_id"].value_counts(), sep="")

Oldest, Latest Date which Boston played a game:
------------------------------------------------
min    1/1/1948
max    6/9/2012
Name: date_game, dtype: object

# of times Boston has played against each of their opponent teams
-----------------------------------------------------------------
NYK    526
PHI    354
DET    343
LAL    261
ATL    247
      ...
NYN      4
WAT      2
AND      2
DNN      2
SHE      2
Name: opp_id, Length: 73, dtype: int64

In [8]:
# Do a search for Baltimore games where both teams scored over 100 points. 
# In order to see each game only once, youâ€™ll need to exclude duplicates:
blb_special_games = nba[
    (nba["team_id"] == "BLB") & 
    (nba["pts"] > 100) &
    (nba["opp_pts"] > 100)
    ]
blb_special_games.loc[:, ("game_id", "_iscopy", "team_id", "pts", "opp_id", "opp_pts")]

           game_id  _iscopy team_id  pts opp_id  opp_pts
1726  194902260BLB        0     BLB  114    MNL      115
4890  195301100BLB        0     BLB  126    BOS      105
4909  195301140BLB        0     BLB  104    MNL      112
5208  195303110BLB        0     BLB  107    NYK      113
5825  195402220BLB        0     BLB  110    BOS      111

In [17]:
games = nba.pivot_table(index="team_id", values="game_id", aggfunc="count").reset_index()
games = games.rename(columns = dict(game_id="games_played")).sort_values("games_played", ascending=False)
games

   team_id  games_played
5      BOS          5997
63     NYK          5769
41     LAL          5078
22     DET          4985
68     PHI          4533
..     ...           ...
93     TRH            60
27     DTF            60
71     PIT            60
35     INJ            60
83     SDS            11

[104 rows x 2 columns]